{{#*inline "page"}}
<div style="outline-style: dotted; outline-color: red; background-color: #ff0000; color: white; padding: 8px" hidden id="https_warning_banner">
    <b>Insecure connection: You are not using HTTPS!</b> Any data sent, including login credentials, is not encrypted
</div>

<h1>Login</h1>
{{#if invalid}}
<p style="color: red;">Error: Wrong username and password combination. Try again</p>
{{/if}}

<style>
input[type=text], input[type=password], select {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
</style>

<form id="login" method="POST">
    <label for="username-field">Username</label>
    <input type="text" name="username" id="username-field" placeholder="Username" autocomplete="off">
    <label for="password-field">Password</label>
    <input type="password" name="password" id="password-field"
                                           placeholder="Password">
    <input type="submit" value="Login" id="login-button">
</form>

<script>
if (location.protocol !== 'https:') {
    let banner = document.getElementById("https_warning_banner");
    banner.hidden = false;
}
</script>
{{/inline}}
{{> (lookup this "parent")}}
